// Variables
$base-font-size: 18px;

$primary-color: #293750;
$secondary-color: #7944BE;
$text-color: #6C7992;
$accent-color-1: #2DC3A1;
$accent-color-2: #0271CE;
$accent-color-3: #3385A8;
$light-grey: #BAC2CC;
